* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;

    width: 100%;
    height: 100vh;
}

.image-container {
    background: url('/assets/side-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex: 1;

    max-width: 100%;
    height: 100%;
}


.logo {
    margin: 2rem 0 0 2rem;
    position: absolute;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;
    background-color: #191816;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 40rem;
    padding: 5rem 0;
    border-radius: .8rem;
    background-color: #24221f;
}

.form-content {
    display: flex;
    flex-direction: column;
}

.title-box {
    display: flex;
    align-items: center;

    padding-bottom: 1rem;
    gap: .8rem;
}

.form h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: #d4ccb6;
}

.info-form {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 1.5rem;
    color: #afb6c2;
    font-size: 1rem;
}

.form-input-box {
    border: none;
}

.input-box-email input, .input-box-password input {
    background-color: #24221f;
    border-radius: .35rem;
    border: 1px solid #afb6c2;;
    height: 3rem;
    width: 100%;
}

input {
    font-family: 'Poppins', sans-serif;
    color: #afb6c2;
    font-size: 1rem;
    padding-left: 2.7rem;
}

input::placeholder {
    font-family: 'Poppins', sans-serif;
    color: #afb6c2;
    font-size: 1rem;
}

.input-icon {
    position: absolute;
    margin: .8rem;
}

.input-icon-eye {
    position: absolute;
    margin: .8rem -2rem;
}

.input-box-email input:focus, .input-box-email input:active, .password-box input:focus, .password-box input:active  { 
    border: .2rem solid #ffc632;
}

.label-email, .label-password, .remember-login {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #afb6c2;
}

.email-box, .password-box {
    padding-bottom: 1.25rem;
}

.forgot-password, .no-have-account {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: .9rem;
    color: #ffc632;
}

.other-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 1rem;
}

.remember-login {
    display: flex;

    gap: .5rem;
}

.button-login {
    font-family: 'Poppins', sans-serif;
    background-color: #ffc632;
    color: #473404;
    font-weight: 600;
    font-size: 1rem;
    padding: .8rem;
    border: none;
    width: 100%;
}

.register {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}





/* LAPTOP */

@media only screen and (max-width: 1024px)  {

}

/* TABLET */

@media only screen and (max-width: 768px)  {
    .image-container {
        display: none;
    }
}

/* MOBILE */

@media only screen and (max-width: 425px)  {

}



