* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
} */

body {
    width: 100%;
    height: 100vh;

    display: flex;
}

.main-content {
    background-color: aqua;
    width: 60%;


}

.image-container img {
    height: 100%;
}

.title-box {
    display: flex;
    align-items:  center;
    gap: .8rem

}

.form h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.info-form {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.label-email, .label-password, .remember-login {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.forgot-password, .no-have-account {
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    color: #ffc632;
}



